article {
    padding-bottom: 50px;
}



.btn:hover {
    color: #ddd !important;
}

.btn-insertion.active {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ddd;
}

/* inactive: word is incorrect */
.btn-correct:not(.active) {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ddd;
}

/* active: word is correct, use default styles */
.btn-correct.active {
}

.hypothesis .btn {
    font-size: larger;
}