article {
    padding-top: 40px;
    padding-bottom: 40px;
}

summary {
    padding-bottom: 10px;
}

utterance-text {
    font-size: large;
}

audio {
    width: 100%;
    max-width: 640px;
}

.button {
    float: left;
    margin: 0 5px 0 0;
    width: 120px;
    height: 40px;
    position: relative;
}

.button label,
.button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.button input[type="radio"]:checked + label {
    background: #1eb4e9;
    border-radius: 4px;
}

.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}
