<h4>Натисніть на слова з помилками або на точки в місцях, де слів або звуків не вистачає</h4>

<article>
    <section>
        <div id="waveform">
        </div>
        <div id="spectrogram"></div>
    </section>

    <section>
        <form name="shum" id="uv">
            <input type="hidden" name="utt_id" />
            <input type="hidden" name="hypothesis" />
            <div class="hypothesis" id="hypothesis">
            </div>
        </form>
    </section>
</article>

<button id="play" class="btn btn-primary">Слухати</button>
